<h1>List of All Users:</h1>

<ul>
<% @users.each do |user| %>
    <li><%= link_to user.name, user_path(user) %></li>
<% end %>
</ul>

<% if !session[:user_id] %>
    <%= link_to "Create a New User", new_user_path %>
<% end %>

<div>
    <%= link_to "Return to homepage", homepage_path %>
</div>
