<%= stylesheet_link_tag "indexpage" %>
<%= render 'application/menu' %>

<h1>List of All Users:</h1>

<div class="ui inverted animated link list" id="user-name">
    <% @users.each do |user| %>
        <%= link_to user.name, user_path(user), class: "item" %>
    <% end %>
</div>

<div id="create">
    <% if !session[:user_id] %>
        <%= link_to "Create a New User", new_user_path %>
    <% end %>
</div>