<h1>All Posts Written:</h1>
<ul>
    <% @posts.each do |post| %>
       <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
</ul>

<% if session[:user_id] %> 
    <%= link_to "Create a new post", new_post_path %>
<% end %>
<div><%= link_to "Return to homepage", homepage_path %></div>
