<%= stylesheet_link_tag "indexpage" %>
<%= render 'application/menu' %>

<h1>All Posts Written:</h1>

<div class="ui inverted animated link list" id="user-name">
    <% @posts.each do |post| %>
       <%= link_to post.title, post_path(post), class: "item" %>
    <% end %>
</div>

<div id="create">
    <% if !session[:user_id] %> 
        <%= link_to "Create a new post", new_post_path %>
    <% end %>
</div>
