body {
    background-image: url('yikes.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: fixed;
    font-size: 100%;
    
}

h2 {
    text-align: initial;
}

.analytics {
    text-indent: 20%
}