body {
    background-image: url('yikes.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 150%;
}

p {

}

h2 {
    text-align: initial;
}