body {
    background-image: url('homepage-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Tahoma, sans-serif;
}



.intro {

 }



/*
    sidebar menu
*/

#menu-bar {
    margin-left: 10px;
    margin-top: 20px;
}
