body {
    background-image: url('homepage-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Tahoma, sans-serif;
}



/*
    sidebar menu
*/

#menu-bar {
    margin-left: 10px;
    margin-top: 10px;
    position: fixed;
    z-index: 10;
}

/*
    login
*/

button {
    padding-left: 21px;
    display: block;
}

#user-info {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
}


/*
    panels
 */

#panels {
    margin-top: 30px;
}

.ui.sub.header {
    font-weight: 200%;
}