body {
    background-image: url('homepage-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-size: 50px;
}

/*
    panels
 */

 #panels {
    margin-top: 30px;
    text-shadow: initial;
}

.ui.sub.header {
    font-weight: 200%;
}