body {
    background-image: url('users-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: lightcyan;
}

#user-name a{
    font-size: 150%;
    color: blue;
    text-indent: 15%;
    font-weight: 300;
}

#create {
    padding-top: 5%;
    text-align: right;

}

