body {
    background-image: url('users-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: lightcyan;
}

#user-name a{
    font-size: 150%;
    color: rgb(85, 85, 88);
    text-indent: 15%;
    font-weight: bold;
    
}

#create {
    padding-top: 5%;
    text-align: center;
    font-size: 150%;
}